@import '../../stylesheets/partials/_media-queries.scss';

.container {
  background-color: $_dark-background-color;
  color: $_text-on-dark-background;

  .content {
    max-width: $max-container-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include tablet-and-up {
      flex-direction: row;
    }
  }

  article {
    display: flex;
    padding: 1em;

    &:not(:last-child) {
      border-bottom: 1px solid $_dark-border;

      @include tablet-and-up {
        border-bottom: none;
      }
    }

    i {
      margin-right: 1em;
      height: 100%;
    }

    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      line-height: 0.9em;
      margin-bottom: 0.5em;
    }

    p {
      color: $_muted-text-on-dark-background;
      margin-bottom: 0.5em;
      font-size: 0.9em;
      line-height: 1.2em;
    }
  }
}
