// Typography
$base-font-family: 'Roboto Condensed', sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;

// Media Queries
$tablet-width: 768px;
$desktop-width: 1024px;
$max-content-width: 1024px;
