
@import '../../stylesheets/all-partials.scss';

.container {
  background-color: #0b9bca;
  min-height: calc(100vh - 40px);
  height: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @include tablet-and-up {
    display: flex;
    align-items: center;

    > div {
      flex: 1;
      padding: 1em 0;
    }
  }

  .offer {
    text-align: center;
    font-size: 0.8em;

    h2 {
      font-weight: bold;
      margin: 0.5em 0;
    }

    img {
      width: 48px;
    }
  }

  .content {
    margin: 0 auto;
    max-width: $max-content-width;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;

    @include tablet-and-up {
      flex-direction: row;
      text-align: left;
    }

    .tagline {
      flex: 1.5;

      h1 {
        font-family: $title-font-family;
        color: $_text-on-light-background;
        font-weight: bold;
        line-height: 1.1em;
        font-size: 2em;
        margin-bottom: 0.5em;

        @include tablet-and-up {
          color: $_text-on-dark-background;
          font-size: 3em;
        }
      }

      p {
        line-height: 1.3em;
        font-size: 1.5em;
      }
    }

    .mascot {
      flex: 0;
      text-align: center;
      overflow: hidden;

      @include tablet-and-up {
        flex: 1;
      }

      img {
        height: auto;
        width: 150px;

        @include tablet-and-up {
          width: 277px;
        }
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        display: block;
        width: 1800px;
        height: 1800px;
        background: radial-gradient(closest-side, #95deff, rgba(255, 255, 255, 0));
        content: '';
        transform: translate3d(-50%, -50%, -1px);
      }
    }
  }
}
