
@import '../../stylesheets/all-partials.scss';

.container {
  background-color: #0b9bca;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: calc(100vh - 40px);

  .content {
    margin: 0 auto;
    max-width: $max-content-width;
    padding: 2em;
    min-height: 600px;
    display: flex;
    align-items: center;

    .tagline {
      flex: 1.5;

      h1 {
        font-family: $title-font-family;
        color: $_text-on-dark-background;
        font-size: 2.7em;
        font-weight: bold;
        line-height: 1.3em;
        margin-bottom: 0.5em;
      }

      p {
        line-height: 1.3em;
        font-size: 1.5em;
      }
    }

    .mascot {
      flex: 1;

      img {
        width: 277px;
        height: auto;
        float: right;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        display: block;
        width: 1800px;
        height: 1800px;
        background: radial-gradient(closest-side, #95deff, rgba(255, 255, 255, 0));
        content: '';
        transform: translate3d(-50%, -50%, -1px);
      }
    }
  }
}
